@import './styles/variables';
@import './styles/main';
@import './styles/text';
@import './styles/panes';
@import './styles/list';
@import './styles/card';
@import '//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css';



.textReveal {
    display: none;
}

.itemHolder:hover .textReveal {
    display: block;
}

.darkIcon {
    color: $color-black;
}

.blueIcon {
    color: $color-blue;
}

.blueIconNoHover {
    color: $color-blue;
}

.lightIcon {
    color: $color-lighter;
}


.itemButton {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: $corner-small;
    background-color: $color-white;
    color: $color-blue;
    border: 2px solid $color-blue;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    max-height: 36px;
    transition: 0.2s all;
}

.itemButton:hover {
    box-shadow: 0px 4px 8px 0px $color-bluelight;
    cursor: pointer;
    background-color: $color-blue;
    color: $color-white;
}

.itemButtonBlue {
    box-shadow: 0px 4px 8px 0px $color-bluelight;
    cursor: pointer;
    background-color: $color-blue;
    color: $color-white;
}

.largeButton {
    border-radius: 24px;
    padding: 16px;
}

.smallButton {
    padding: 4px;
    border-radius: $corner-small;
    background-color: $color-white;
    color: $color-blue;
    border: 2px solid $color-blue;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    max-height: 36px;
    transition: 0.2s all;
}

.grayButton {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: $corner-small;
    background-color: $color-white;
    color: $color-light;
    border: 2px solid $color-light;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    max-height: 36px;
    transition: 0.2s all;
}

.grayButton:hover {
    box-shadow: 0px 4px 8px 0px $color-lighter;
    cursor: pointer;
}

.redButton {
    border: 2px solid $color-red;
    color: $color-red;
    
}


.searchBox {
    background-color: transparent;
    border: 1px solid $color-light;
    border-radius: $corner-small;
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    width: 180px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.searchBox::placeholder {

}

.searchBox:focus {
    outline: none;
    border: 1px solid $color-blue;
}

.checkBox {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 2px solid $color-blue;
}
.checkBox:hover {
    background-color: $color-light;
}

.submitModal {
    width: 25%;
    height: auto;
    background-color: $color-white;
    border: 1px solid $color-light;
    border-radius: 16px;
    padding: 32px;
    margin-left: 37.5vw;
    margin-top: 30vh;
}

.submitModal:focus {
    outline: none;
}

.submitModalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 16px;
}

.smallButton svg path {
    fill: $color-blue;
}

.smallButton:hover svg path {
    fill: $color-white;
}

.mobileNoMargin {

}

@media only screen and (max-width: 1280px) {
    .itemButton {
        padding: 6px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .grayButton {
        padding: 6px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .searchBox {
        font-size: 14px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 480px) { 
    .showMobile:hover .blueIcon {
        color: $color-white;
    }

    .mobileNoMargin {
        margin: 0;
        margin-bottom: 0;
    }

    .itemButtonBlue .blueIcon {
        color: $color-white;
    }

    .submitModal {
        width: calc(100% - 64px);
        height: auto;
        margin-left: 32px;
        margin-top: 20vh;
    }

    .submitModal .searchBox {
        width: 100%;
    }

    .submitModalButtons {
        justify-content: space-between;
    }
}