@import url("https://rsms.me/inter/inter.css");
/**
$color-white: #F3F5F7;
$color-black: #02253E;
$color-light: rgba(2, 37, 62, .33);
$color-lighter: rgba(2, 37, 62, .1);
$color-blue: #229EC5;
$color-bluelight: rgba(22, 158, 197, .33);
$color-hover: rgba(2, 37, 62, .03);
$color-red: #D92752;
*/
@import '//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css';
body, html {
  background-color: #FbFbFf;
  color: #02253E;
  font-family: "Inter";
  font-weight: 500;
}

body {
  max-height: calc(100vh - 32px);
  margin-top: 32px;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.App {
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  margin: 32px;
  display: flex;
  flex-direction: row;
  background-color: #FbFbFf;
}

@media only screen and (max-width: 1280px) {
  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .App {
    flex-direction: column;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    max-height: calc(100vh - 32px);
    margin: 16px;
  }

  body {
    margin-top: 16px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}
.textLight {
  font-family: "Inter";
  font-weight: 300;
  color: rgba(2, 37, 62, 0.33);
}

.textName {
  font-family: "Inter";
  font-weight: 500;
  color: #02253E;
}

.textSmall {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.lightColor {
  color: rgba(2, 37, 62, 0.33);
}

.leftNavPane {
  width: 15%;
}

.listPane {
  width: calc(45% - 32px);
  margin-left: 32px;
}

.mapPane {
  width: calc(40% - 32px);
  margin-left: 32px;
}

.showMobile {
  display: none;
}

.filterItem {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  cursor: pointer;
}

.filterItem:hover {
  background-color: rgba(2, 37, 62, 0.03);
}

.navCard {
  width: 100%;
  border-radius: 16px;
  background-color: rgba(2, 37, 62, 0.1);
  padding: 16px;
}

@media only screen and (max-width: 480px) {
  .leftNavPane {
    width: 100%;
  }

  .listPane {
    width: 100%;
    margin: 0;
    height: calc(100% - 64px);
  }

  .mapPane {
    width: 100%;
    margin: 0;
    flex: 1;
  }

  .hideMobile {
    display: none;
  }

  .showMobile {
    display: block;
  }
}
.distanceCol {
  width: 64px;
  text-align: right;
  margin-right: 24px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding-bottom: 8px;
  padding-left: 16px;
}

.itemHolder {
  height: 64px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.itemHolder:hover {
  background-color: rgba(2, 37, 62, 0.03);
}

.itemHolder:hover .textName {
  color: #169DFF;
}

.iconHolder {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.itemMenu {
  width: calc(100% - 32px);
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}

.itemHolder:hover .itemMenu {
  display: flex;
  z-index: 2;
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.itemName {
  width: 360px;
  text-align: left;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .itemHolder {
    height: 54px;
  }
}
@media only screen and (max-width: 480px) {
  .listContainer {
    overflow-x: hidden;
    max-width: 100%;
  }

  .distanceCol {
    width: 42px;
    min-width: 42px;
    margin-right: 8px;
  }

  .listHeader {
    padding-left: 0;
  }

  .itemHolder {
    padding-left: 0;
    padding-right: 0;
    height: 48px;
  }

  .itemHolder:hover {
    border-radius: 8px;
  }

  .iconHolder {
    margin-right: 8px;
  }

  .itemMenu {
    width: 100%;
  }

  .itemName {
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0;
  }

  i.icon {
    width: 16px;
    height: 16px;
  }

  i.icon::before {
    width: 16px;
    height: 16px;
  }
}
.cardHolder {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardItem {
  width: calc(100% - 64px);
  margin: 32px;
  border-radius: 16px;
  background-color: #FbFbFf;
  border: 1px solid rgba(2, 37, 62, 0.33);
  padding: 32px;
  z-index: 10;
}

@media only screen and (max-width: 1280px) {
  .cardItem {
    padding: 24px;
    margin: 24px;
    width: calc(100% - 48px);
  }
}
@media only screen and (max-width: 480px) {
  .cardItem {
    margin: 0px;
    margin-bottom: 16px;
    width: 100%;
    padding: 24px;
  }

  .showMobile .cardItem {
    margin-bottom: 0;
  }
}
.textReveal {
  display: none;
}

.itemHolder:hover .textReveal {
  display: block;
}

.darkIcon {
  color: #02253E;
}

.blueIcon {
  color: #169DFF;
}

.blueIconNoHover {
  color: #169DFF;
}

.lightIcon {
  color: rgba(2, 37, 62, 0.1);
}

.itemButton {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  background-color: #FbFbFf;
  color: #169DFF;
  border: 2px solid #169DFF;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  max-height: 36px;
  transition: 0.2s all;
}

.itemButton:hover {
  box-shadow: 0px 4px 8px 0px rgba(22, 158, 197, 0.33);
  cursor: pointer;
  background-color: #169DFF;
  color: #FbFbFf;
}

.itemButtonBlue {
  box-shadow: 0px 4px 8px 0px rgba(22, 158, 197, 0.33);
  cursor: pointer;
  background-color: #169DFF;
  color: #FbFbFf;
}

.largeButton {
  border-radius: 24px;
  padding: 16px;
}

.smallButton {
  padding: 4px;
  border-radius: 6px;
  background-color: #FbFbFf;
  color: #169DFF;
  border: 2px solid #169DFF;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  max-height: 36px;
  transition: 0.2s all;
}

.grayButton {
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  background-color: #FbFbFf;
  color: rgba(2, 37, 62, 0.33);
  border: 2px solid rgba(2, 37, 62, 0.33);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  max-height: 36px;
  transition: 0.2s all;
}

.grayButton:hover {
  box-shadow: 0px 4px 8px 0px rgba(2, 37, 62, 0.1);
  cursor: pointer;
}

.redButton {
  border: 2px solid #D92752;
  color: #D92752;
}

.searchBox {
  background-color: transparent;
  border: 1px solid rgba(2, 37, 62, 0.33);
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  width: 180px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.searchBox:focus {
  outline: none;
  border: 1px solid #169DFF;
}

.checkBox {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 2px solid #169DFF;
}

.checkBox:hover {
  background-color: rgba(2, 37, 62, 0.33);
}

.submitModal {
  width: 25%;
  height: auto;
  background-color: #FbFbFf;
  border: 1px solid rgba(2, 37, 62, 0.33);
  border-radius: 16px;
  padding: 32px;
  margin-left: 37.5vw;
  margin-top: 30vh;
}

.submitModal:focus {
  outline: none;
}

.submitModalButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 16px;
}

.smallButton svg path {
  fill: #169DFF;
}

.smallButton:hover svg path {
  fill: #FbFbFf;
}

@media only screen and (max-width: 1280px) {
  .itemButton {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .grayButton {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .searchBox {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .showMobile:hover .blueIcon {
    color: #FbFbFf;
  }

  .mobileNoMargin {
    margin: 0;
    margin-bottom: 0;
  }

  .itemButtonBlue .blueIcon {
    color: #FbFbFf;
  }

  .submitModal {
    width: calc(100% - 64px);
    height: auto;
    margin-left: 32px;
    margin-top: 20vh;
  }

  .submitModal .searchBox {
    width: 100%;
  }

  .submitModalButtons {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=App.css.map */
