
.cardHolder {
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}

.cardItem {
    width: calc(100% - 64px);
    margin: 32px;
    border-radius: 16px;
    background-color: $color-white;
    
    border: 1px solid $color-light;
    padding: 32px;
    z-index: 10;
}

@media only screen and (max-width: 1280px) { 
    .cardItem {
        padding: 24px;
        margin: 24px;
        width: calc(100% - 48px);
    }
}

@media only screen and (max-width: 480px) { 
    .cardHolder {
        //height: 100vh;
    }

    .cardItem {
        margin: 0px;
        margin-bottom: 16px;
        width: 100%;
        padding: 24px;
    }

    .showMobile .cardItem {
        margin-bottom: 0;
    }
}