.leftNavPane {
    width: 15%;
}

.listPane {
    width: calc(45% - 32px);
    margin-left: 32px;
}

.mapPane {
    width: calc(40% - 32px);
    margin-left: 32px;
}

.showMobile {
    display: none;
}

.filterItem {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    cursor: pointer;
}

.filterItem:hover {
    background-color: $color-hover;
}

.navCard {
    width: 100%;
    border-radius: 16px;
    background-color:  $color-lighter;
    padding: 16px;
}

@media only screen and (max-width: 480px) {
    .leftNavPane {
        width: 100%;
    }
    .listPane {
        width: 100%;
        margin: 0;
        height: calc(100% - 64px);
    }
    .mapPane {
        width: 100%;
        margin: 0;
        flex: 1;
    }

    .hideMobile {
        display: none;
    }

    .showMobile {
        display: block;
    }
}