
.textLight {
    font-family: 'Inter';
    font-weight: 300;
    color: $color-light;
}

.textName {
    font-family: 'Inter';
    font-weight: 500;
    color: $color-black;
}

.textSmall {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}