@import url('https://rsms.me/inter/inter.css');

$color-white: #FaFcFc;
$color-black: #02253E;
$color-light: rgba(2, 37, 62, .33);
$color-lighter: rgba(2, 37, 62, .1);
$color-blue: #229EC5;
$color-bluelight: rgba(22, 158, 197, .33);
$color-hover: rgba(2, 37, 62, .03);
$color-red: #D92752;

/**
$color-white: #F3F5F7;
$color-black: #02253E;
$color-light: rgba(2, 37, 62, .33);
$color-lighter: rgba(2, 37, 62, .1);
$color-blue: #229EC5;
$color-bluelight: rgba(22, 158, 197, .33);
$color-hover: rgba(2, 37, 62, .03);
$color-red: #D92752;
*/